# WhatsApp Cloud API
CLOUD_PHONE_ID=
CLOUD_ACCOUNT_ID=
CLOUD_ACCESS_TOKEN=

# Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_SENDER=whatsapp:+1XXXXXXXXXX
TWILIO_CONTENT_SID=

# Infobip
INFOBIP_API_KEY=
INFOBIP_BASE_URL=
INFOBIP_SENDER=

# WhatChimp
WHATCHIM_API_KEY=
WHATCHIM_PHONE_ID=
WHATCHIM_SENDER_NUMBER=
